<?php

/**
 * <description>
 * 
 * @author  Mateus Schmitz <matteuschmitz@gmail.com>
 * @license MIT License
 * @package Config
 * @version alpha
 */

namespace Config;

use PDO;

return array(
    'databases' => array(
        'akademic' => array(
            "adapter"  => "Phalcon\Db\Adapter\Pdo\Mysql", // optional if MySQL Adapter
            "host"     => "HOST_MYSQL",
            "username" => "USERNAME",
            "password" => "PASSWORD",
            "dbname"   => "DBNAME",
            "options"  => array(
                PDO::MYSQL_ATTR_INIT_COMMAND => "SET NAMES 'UTF8'"
            )
        )
    ),
);